h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
}

body	{
	font-family: Helvetica, sans-serif;
	padding-top: 20px;
    background-color: #efefef;

}

a {
	color: inherit;
}

a:hover {

	text-decoration: none
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
}


#header { 
	margin-bottom: 30px;
	text-align: center;
}

#header h3 {
	margin-top: 0px;
}

#header h1 {

	margin-bottom: 0px;
}

#barraRestante {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: white;
    border-top: 1px solid #dedede;
    width: 100vw;
    height: 46px;
}

#barraRestante div {
    background-color: green;
    height: 100%;
    position: relative;
}

#barraRestante p {
    position: fixed;
    z-index: 999;
    bottom: 0;
    left: 50%;
    color: #000;
    font-weight: 400;
    transform: translate(-50%, 0);
}

#canvas {
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 0;
    background-color: #fafafa;
}

.catTitle {
    transform: translate(10px, 0 );
    text-transform: uppercase;
}

.catTitle span {
	color: #666666;
    text-transform: none;
}

.form-box {
    border: 1px solid #dedede;
    border-radius: 5px;
    margin-top: 7px;
    margin-bottom: 8px;
    padding: 0 10px 10px 10px;
    background-color: #fafafa
}

.itemIcon {
    max-width: 30px;
    margin: 13px auto;
    float: left;
    max-height: 25px;
}


#fullMarker {
    height: 135px;
    border-right: 2px dashed red;
    top: -5px;
    position: absolute;
    text-align: right;
    font-weight: bolder;
    color: red;
    margin-left: 1px;
}

#fullText {
    position: absolute;
    bottom: -25px;
    color: red;
    font-weight: bolder;
    margin-left: 5px;
    transform: translate(-50%, 0);
    font-size: 12px;
}

.bar {
    height: 125px;
    float: left;
    transition: 0.1s;
}

.bar:hover{
    -webkit-filter: brightness(0%); /* Safari 6.0 - 9.0 */
    filter: brightness(0%);
    margin-top: -10px !important;
    height: 135px !important;

}

.tooltips {
    opacity: 0;
    color: #000;
    white-space: nowrap;
    padding: 5px;
    border-radius: 4px;
    font-size: 12px;
    box-shadow: inset 0px -3px 0px #000;
    transform: translate(0, -30px);
}
.bar:hover .tooltips    {
    opacity: 1 !important;
}

div.bar:nth-of-type(5n+0) {
    background-color: #556270;
}
div.bar:nth-of-type(5n+1) {
    background-color: #4ECDC4;
}
div.bar:nth-of-type(5n+2) {
    background-color: #C7F464;
}
div.bar:nth-of-type(5n+3) {
    background-color: #FF6B6B;
}
div.bar:nth-of-type(5n+4) {
    background-color: #C44D58;
}




#footer {
    height: 80px;
}