h1, h2, h3, h4, h5, h6 {
    font-family: 'Signika', sans-serif;
}

body	{
	font-family: Helvetica, sans-serif;
	padding-top: 20px;
    background: url("https://subtlepatterns.com/patterns/noisy_grid.png");
    text-rendering: geometricPrecision;

}

a {
	color: inherit;
}

a:hover {

	text-decoration: none
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
}


#header { 
	margin-bottom: 30px;
    padding: 30px;
    background-color: #556270;
    color: white;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#header h1, p {
    margin: 0px;
}

#header div {
    margin-top: 11px;
}

#barraRestante {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: white;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.75);
    width: 100vw;
    height: 46px;
}

#barraRestante div {
    background-color: green;
    height: 100%;
    position: relative;
}

#barraRestante p {
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 999;
    bottom: 11px;
    left: 50%;
    color: #000;
    font-weight: 400;
    transform: translate(-50%, 0);
}

#boxRow {
    background: white;
    border-radius: 4px;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.catTitle {
    transform: translate(10px, 0 );
    text-transform: uppercase;
}

.catTitle span {
	color: #666666;
    text-transform: none;
}

.form-box {
    min-height: 100px;
    border: 1px solid #dedede;
    border-radius: 5px;
    margin-top: 7px;
    margin-bottom: 8px;
    padding: 0 10px 10px 10px;
    background-color: #fff
}

.itemIcon {
    max-width: 30px;
    margin: 13px auto;
    float: left;
    max-height: 25px;
}


#fullMarker {
    height: 175px;
    border-right: 2px dashed red;
    top: -5px;
    position: absolute;
    text-align: right;
    font-weight: bolder;
    color: red;
    margin-left: -1px;
}

#fullText {
    position: absolute;
    bottom: -25px;
    color: red;
    font-weight: bolder;
    margin-left: 5px;
    transform: translate(-50%, 0);
    font-size: 12px;
}

#canvas {
    height: 165px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 0;
    background-color: #fafafa;
}

.bar {
    height: 165px;
    float: left;
    transition: 0.1s;
}

.bar:hover, .barhover {
    -webkit-filter: brightness(50%); /* Safari 6.0 - 9.0 */
    filter: brightness(50%);
    margin-top: -10px !important;
    height: 175px !important;

}

.tooltips {
    opacity: 0;
    white-space: nowrap;
    padding: 5px;
    border-radius: 4px;
    font-size: 12px;
    box-shadow: inset 0px -3px 0px;
    transform: translate(0, -30px);
}


.bar:hover .tooltips    {
    opacity: 1 !important;
    -webkit-filter: brightness(100%); /* Safari 6.0 - 9.0 */
    filter: brightness(100%);
}

div.bar:nth-of-type(5n+0) {
    background-color: #556270;
}
div.bar:nth-of-type(5n+1) {
    background-color: #4ECDC4;
}
div.bar:nth-of-type(5n+2) {
    background-color: #C7F464;
}
div.bar:nth-of-type(5n+3) {
    background-color: #FF6B6B;
}
div.bar:nth-of-type(5n+4) {
    background-color: #C44D58;
}

.form-box-comp {
    min-height: 100px;
    border-radius: 5px;
    margin-top: 7px;
    margin-bottom: 8px;
    padding: 0 10px 10px 10px;
}

.barsBoxWrapper {
    padding-bottom: 15px;
}

.barIdeal, .barReal {
    margin-top: 10px;
    width: 48%;
    display: inline-block;
    position: relative;
/*    float: left;*/
}

.barIdeal {
    background-color: #00bcd4
}

.barReal {
    background-color: #FF9800;
}

.compBarValue {
    display: inline-block;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: -20px;
    font-size: 11px;
    color: #666;
}



#footer {
    height: 80px;
}