
<div class="container">

	<div class="row">
		<div class="col-md-12">
			<h4>Orçamento Ideal</h4>
		</div>
		<div id="canvas" class="col-md-12">
			<div ng-repeat="item in ideal track by $index" class='bar' style="{{barStyleComp(item)}}">
				<p class="tooltips">{{item.name}}</p>
			</div>

		</div>
	</div> <!-- end row -->
	<div class="row">
		<div class="col-md-12">
			<h4>Orçamento Real</h4>
		</div>
		<div id="canvas" class="col-md-12">
			<div ng-repeat="item in gabarito track by $index" class='bar' style="{{barStyleComp(item)}}">
				<p class="tooltips">{{item.name}}</p>
			</div>

		</div>
	</div> <!-- end row -->

	<div id="boxRow" class="row">
		<div class="col-sm-4 col-md-3"  ng-repeat-start="item in items track by $index">

			<div class="form-box-comp" style="{{item.color}}" ng-mouseenter="boxMouseEnter($index)" ng-mouseleave="boxMouseLeave($index)">
				<div class="barsBoxWrapper row">
					<div class="barIdeal"  style="{{barStyleComparar(ideal, $index)}}"><span class="compBarValue">{{ideal[$index].value.toFixed(2)}}% = {{valueItem(ideal[$index])}}</span></div>
					<div class="barReal"  style="{{barStyleComparar(gabarito, $index)}}"><span class="compBarValue">{{gabarito[$index].value.toFixed(2)}}% = {{valueItem(gabarito[$index])}}</span></div>		
				</div>
			
				<img class="itemIcon" src="{{item.imageSrc}}">
				<h6 class="catTitle">{{ item.name }}</h6>
			</div>
				
		</div>
		<div ng-if="($index + 1) % 4 === 0" class="clearfix" ng-repeat-end>
			
		</div>		
	</div> <!-- end row -->
</div> <!-- end container -->
